# Ignore config file
instance/app.cfg

# Ignore copied over folders
docker/entity-api/src
docker/entity-api/log
docker/entity-api/conf

# Ignore __pycache__ directories in any path
**/__pycache__

# Ignore log but keep the log directory
**/*.log
