# Ignore config files
conf/app.properties
conf/common_app.conf

# Ignore copied over folders
docker/entity-api/src
docker/entity-api/log
docker/entity-api/conf

# Ignore __pycache__ directories in any path
**/__pycache__

# Ignore log but keep the log directory
**/*.log
