openapi: 3.0.0
info:
  description: 'The HuBMAP Entity API is a standard RESTful web service with create, update and read operations for the standard HuBMAP provenance graph entities.<br><br>'
  version: 2.0.7
  title: HuBMAP Entity API
  contact:
    name: HuBMAP Help Desk
    email: api-developers@hubmapconsortium.org
  license:
    name: MIT License
    url: 'https://github.com/hubmapconsortium/entity-api/blob/master/license.txt'
servers:
  - url: 'https://entity.api.hubmapconsortium.org'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Person:
      type: object
      properties:
        first_name:
          type: string
          description: "The full name of the person."
        last_name:
          type: string
          description: The last name of the person.
        middle_name_or_initial:
          type: string
          description: The middle name or initial of the person.
        orcid_id:
          type: string
          description: The ORCID iD of the person.
        affiliation:
          type: string
          description: The institution that the person is affiliated with.
    Antibody:
      type: object
      properties:
        antibody_name:
          type: string
          description: ""
        channel_id:
          type: string
          description: "" 
        conjugated_cat_number:
          type: string
          description: ""
        conjugated_tag:
          type: string
          description: ""
        dilution:
          type: string
          description: ""
        lot_number:
          type: string
          description: ""
        rr_id:
          type: string
          description: ""
        uniprot_accession_number:
          type: string
          description: ""
    DonorMetadata:
      type: object
      properties:
        code:
          type: string
          description: ""
        sab:
          type: string
          description: ""
        concept_id:
          type: string
          description: ""
        data_type:
          type: string
          description: ""
        data_value:
          type: string
          description: ""
        numeric_operator:
          type: string
          description: ""
        units:
          type: string
          description: ""
        preferred_term:
          type: string
          description: ""
        grouping_concept:
          type: string
          description: ""
        grouping_concept_preferred_term:
          type: string
          description: ""
        grouping_code:
          type: string
          description: ""
        grouoping_sab:
          type: string
          description: ""
        graph_version:
          type: string
          description: ""
        start_datetime:
          type: integer
          description: ""
        end_datetime:
          type: integer
          description: ""
    File:
      type: object
      properties:
        filename:
          type: string
          description: "The name of the file."
        description:
          type: string
          description: "A description of the file."
        file_uuid:
          type: string
          description: "The HuBMAP unique identifier for the file."
    Donor:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        ###### All other shared properties ######
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor, Upload"
        registered_doi:
          type: string
          description: "The doi of a the registered entity. e.g. 10.35079/hbm289.pcbm.487.  This is set during the publication process and currently available for certain Collections and Datasets."
        doi_url:
          type: string
          readOnly: true
          description: "The url from the doi registry for this entity. e.g. https://doi.org/10.35079/hbm289.pcbm.487"
        creators:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who created the entity with full name, email, ORCID iD, institution, etc.. This is analogus to the author list on a publication."
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who are the main contacts to get information about the entity."
        description:
          type: string
          description: "Free text description of the donor"
        data_access_level:
          type: string
          readOnly: true
          enum:
            - consortium
            - public
          description: "One of the values: public, consortium"
        image_files:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: "List of uploaded image files and descriptions of the files. Stored in db as a stringfied json array."
        image_files_to_add:
          writeOnly: true
          type: array
          items:
            type: string
            format: file_id
          description: 'List of temporary file ids with an optional description. Provide as a json array with an temp_file_id and description attribute for each element like {"files": [{"temp_file_id":"dzevgd6xjs4d5grmcp4n","description":"This is image file one"},{"temp_file_id":"yrahjadfhadf","description":"This is image file two"}]}'
        image_files_to_remove:
          writeOnly: true
          type: array
          items:
            type: string
            format: file_id
          description: 'List of image files previously uploaded to delete. Provide as a json array of the file_uuids of the file like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
        metadata:
          type: object
          properties:
            organ_donor_data:
              type: array
	      description: "Information about the donor who's organ(s) was/were used.  The organ was obtained via an organ donation program from a deceaced donor. Only living_donor_data or organ_donor_data, not both can be defined for a single donor."
              items:
                $ref: '#/components/schemas/DonorMetadata'
            living_donor_data:
              type: array
	      description: "Information about the donor who's tissue was used.  The tissue was obtained during a procedure. Only living_donor_data or organ_donor_data, not both can be defined for a single donor."
              items:
                $ref: '#/components/schemas/DonorMetadata'
          description: "Donor metadata as an array of UMLS codes and descriptions"
        protocol_url:
          type: string
          description: "The protocols.io doi url pointing the protocol describing the donor selection, inclusion/exclusion criteria"
        lab_donor_id:
          type: string
          description: "A lab specific identifier for the donor."
        submission_id:
          readOnly: true
          type: string
          description: "The hubmap internal id with embedded semantic information e.g.: VAN0003. This id is generated at creation time which tracks the lab, donor, organ and sample hierarchy per the following: https://docs.google.com/document/d/1DjHgmqWF1VA5-3mfzLFNfabbzmc8KLSG9xWx1DDLlzo/edit?usp=sharing"
        group_uuid:
          type: string
          description: "The uuid of globus group which the user who created this entity is a member of.  This is required on Create/POST if the user creating the Donor is a member of more than one write group.  This property cannot be set via PUT (only on Create/POST)."
        group_name:
          readOnly: true
          type: string
          description: "The displayname of globus group which the user who created this entity is a member of"
        label:
          type: string
          description: "Lab provided, de-identified name for the donor"
    Sample:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        ###### All other shared properties ######
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor"
        registered_doi:
          type: string
          description: "The doi of a the registered entity. e.g. 10.35079/hbm289.pcbm.487.  This is set during the publication process and currently available for certain Collections and Datasets."
        doi_url:
          type: string
          readOnly: true
          description: "The url from the doi registry for this entity. e.g. https://doi.org/10.35079/hbm289.pcbm.487"
        creators:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who created the entity with full name, email, ORCID iD, institution, etc.. This is analogus to the author list on a publication."
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who are the main contacts to get information about the entity."
        description:
          type: string
          description: "Free text description of the sample"
        data_access_level:
          type: string
          enum:
            - consortium
            - public
          description: "One of the values: public, consortium."
        specimen_type:
          type: string
          enum:
            - atacseq
            - biopsy
            - blood
            - cell_lysate
            - clarity_hydrogel
            - codex
            - cryosections_curls_from_fresh_frozen_oct
            - cryosections_curls_rnalater
            - ffpe_block
            - ffpe_slide
            - fixed_frozen_section_slide
            - fixed_tissue_piece
            - flash_frozen_liquid_nitrogen
            - formalin_fixed_oct_block
            - fresh_frozen_oct_block
            - fresh_frozen_section_slide
            - fresh_frozen_tissue
            - fresh_frozen_tissue_section
            - fresh_tissue
            - frozen_cell_pellet_buffy_coat
            - gdna
            - module
            - nuclei
            - nuclei_rnalater
            - organ
            - organ_piece
            - other
            - pbmc
            - pfa_fixed_frozen_oct_block
            - plasma
            - protein
            - ran_poly_a_enriched
            - rna_total
            - rnalater_treated_and_stored
            - rnaseq
            - scatacseq
            - scrnaseq
            - segment
            - seqfish
            - sequence_library
            - serum
            - sequence_library
            - single_cell_cryopreserved
            - snatacseq
            - snrnaseq
            - tissue_lysate
            - wgs    
          description: "A code representing the type of specimen.  Must be one of the codes specified in: [tissue sample types](https://github.com/hubmapconsortium/search-api/blob/master/src/search-schema/data/definitions/enums/tissue_sample_types.yaml)"
        specimen_type_other:
          type: string
          description: "The user provided sample type if the 'other' sample_type is chosen."
        protocol_url:
          type: string
          description: "The protocols.io doi url pointing the protocol under wich the sample was obtained and/or prepared."
        group_uuid:
          type: string
          description: "The uuid of globus group which the user who created this entity is a member of.  This is required on Create/POST if the user creating the Donor is a member of more than one write group.  This property cannot be set via PUT (only on Create/POST)."
        group_name:
          readOnly: true
          type: string
          description: "The displayname of globus group which the user who created this entity is a member of"
        organ:
          type: string
          enum:
            - AO
            - BL
            - BD
            - BM
            - BR
            - LF
            - RF
            - HT
            - LB
            - LE
            - LI
            - LK
            - LL
            - LV
            - LY
            - LO
            - RO
            - OT
            - PA
            - PL
            - RB
            - RE
            - RK
            - RL
            - SI
            - SK
            - SP
            - ST
            - TH
            - TR
            - UR
            - UT
          description: "Organ code specifier, only set if sample_type == organ.  Valid values found in: [organ types](https://github.com/hubmapconsortium/search-api/blob/master/src/search-schema/data/definitions/enums/organ_types.yaml)"
        organ_other:
          type: string
          description: The organ type provided by the user if "other" organ type is selected
        direct_ancestor_uuid:
          type: string
          writeOnly: true
          description: "The uuid of source entity from which this new entity is derived from. Used on creation or edit to create an action and relationship to the ancestor.  The direct ancestor must be a Donor or Sample.  If the direct ancestor is a Donor, the sample must be of type organ."
        direct_ancestor:
          readOnly: true
          type: object
          description: "The entitiy directly above this sample in the provenance graph (direct parent)."
        submission_id:
          type: string
          description: "The hubmap internal id with embedded semantic information e.g.: VAN0003-LK-1-10.  This id is generated at creation time which tracks the lab, donor, organ and sample hierarchy per the following: https://docs.google.com/document/d/1DjHgmqWF1VA5-3mfzLFNfabbzmc8KLSG9xWx1DDLlzo/edit?usp=sharing"
        lab_tissue_sample_id:
          type: string
          description: "Lab specific id for the sample."
        metadata:
          type: object
          description: "The sample specific metadata derived from the uploaded sample_metadata.tsv file. Returned as a json object."
        rui_location:
          type: object
          description: "The sample location and orientation in the ancestor organ as specified in the RUI tool. Returned as a json object."
        visit:
          type: string
          description: "The visit id for the donor/patient when the sample was obtained."
        image_files:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: "List of uploaded image files and descriptions of the files. Stored in db as a stringfied json array."
        image_files_to_add:
          writeOnly: true
          type: array
          items:
            type: string
            format: file_id
          description: 'List of temporary file ids with an optional description. Provide as a json array with an temp_file_id and description attribute for each element like {"files": [{"temp_file_id":"dzevgd6xjs4d5grmcp4n","description":"This is image file one"},{"temp_file_id":"yrahjadfhadf","description":"This is image file two"}]}'
        image_files_to_remove:
          writeOnly: true
          type: array
          items:
            type: string
            format: file_id
          description: 'List of image files previously uploaded to delete. Provide as a json array of the file_uuids of the file like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
        metadata_files:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: "List of uploaded image files and descriptions of the files. Stored in db as a stringfied json array."
        metadata_files_to_add:
          type: array
          items:
            type: string
            format: file_id
          description: 'List of temporary file ids with an optional description. Provide as a json array with an temp_file_id and description attribute for each element like {"files": [{"temp_file_id":"dzevgd6xjs4d5grmcp4n","description":"This is image file one"},{"temp_file_id":"yrahjadfhadf","description":"This is image file two"}]}'
        metadata_files_to_remove:
          type: array
          items:
            type: string
            format: file_id
          description: 'List of image files previously uploaded to delete. Provide as a json array of the file_uuids of the file like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
    Dataset:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        ###### All other shared properties ######
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor"
        registered_doi:
          type: string
          description: "The doi of a the registered entity. e.g. 10.35079/hbm289.pcbm.487.  This is set during the publication process and currently available for certain Collections and Datasets."
        doi_url:
          type: string
          readOnly: true
          description: "The url from the doi registry for this entity. e.g. https://doi.org/10.35079/hbm289.pcbm.487"
        creators:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who created the entity with full name, email, ORCID iD, institution, etc.. This is analogus to the author list on a publication."
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who are the main contacts to get information about the entity."
        antibodies:
          type: array
          items:
            $ref: '#/components/schemas/Antibody'
          description: "A list of antibodies used in the assay that created the dataset"
        description:
          type: string
          description: "Free text description of the dataset"
        data_access_level:
          type: string
          readOnly: true
          enum:
            - public
            - consortium
          description: "One of the values: public, consortium."
        contains_human_genetic_sequences:
          type: boolean
          description: "True if the data contains any human genetic sequence information. Can only be set at CREATE/POST time"
        status:
              type: string
              enum:
                - New
                - Processing
                - QA
                - Published
                - Error
                - Hold
                - Invalid
              description: "One of: New|Processing|QA|Published|Error|Hold|Invalid"
        title:
          type: string
          description: "The dataset title."
        data_types:
          type: array
          items:
            type: string
            enum:
              - AF
              - ATACseq-bulk
              - bulk_atacseq
              - cell-dive
              - CODEX
              - codex_cytokit
              - DART-FISH
              - image_pyramid
              - IMC
              - 3D-IMC
              - lc-ms_label-free
              - lc-ms_labeled
              - lc-ms-ms_label-free
              - lc-ms-ms_labeled
              - LC-MS-untargeted
              - Lightsheet
              - MALDI-IMS-neg
              - MALDI-IMS-pos
              - MxIF
              - PAS
              - bulk-RNA
              - salmon_rnaseq_bulk
              - SNAREseq
              - sc_atac_seq_snare_lab
              - sc_atac_seq_snare
              - scRNA-Seq-10x
              - salmon_rnaseq_10x
              - sc_rna_seq_snare_lab
              - salmon_rnaseq_snareseq
              - sciATACseq
              - sc_atac_seq_sci
              - sciRNAseq
              - salmon_rnaseq_sciseq
              - seqFish
              - seqFish_lab_processed
              - snATACseq
              - sn_atac_seq
              - snRNAseq
              - salmon_sn_rnaseq_10x
              - Slide-seq
              - Targeted-Shotgun-LC-MS
              - TMT-LC-MS
              - WGS
          description: "The data or assay types contained in this dataset as a json array of strings.  Each is an assay code from [assay types](https://github.com/hubmapconsortium/search-api/blob/master/src/search-schema/data/definitions/enums/assay_types.yaml)."
        collections:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Collection'
          description: "A list of collections that this dataset belongs to."
        upload:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Upload'
          description: "The Data Upload that this dataset is associated with."
        contributors:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of people who contributed to the creation of this dataset.  Returned as an array of contributor where the structure of a contributor is"
        direct_ancestors:
          readOnly: true
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/Sample'
              - $ref: '#/components/schemas/Dataset'
          description: "A list of direct parent ancensters (one level above) that the Dataset was derived from."
        published_timestamp:
          readOnly: true
          type: integer
          description: "The timestamp of when the dataset was published.  The format is an integer representing milliseconds since midnight, Jan 1, 1970."
        published_user_displayname:
          readOnly: true
          type: string
          description: "The name of the authenticated user or process that published the data."
        published_user_sub:
          readOnly: true
          type: string
          description: "The subject id for the user who published the data as provided by the authorization mechanism for the person or process authenticated when the dataset was publised."
        published_user_email:
          readOnly: true
          type: string
          description: "The email address of the user who published the provided by the authorization mechanism for the person or process authenticated when published."
        ingest_metadata:
          type: object
          description: "The metadata returned from the ingest pipeline processing at data submission time.  Provided as json."
        local_directory_rel_path:
          type: string
          readOnly: true
          description: "The path on the local HIVE file system, relative to the base data directory, where the data is stored."
        group_uuid:
          type: string
          description: "The uuid of globus group which the user who created this entity is a member of.  This is required on Create/POST if the user creating the Donor is a member of more than one write group.  This property cannot be set via PUT (only on Create/POST)."
        group_name:
          type: string
          readOnly: true
          description: "The displayname of globus group which the user who created this entity is a member of"
        previous_revision_uuid:
          type: string
          description: "The uuid of previous revision dataset. Can only be set at Create/POST time."
        next_revision_uuid:
          type: string
          readOnly: true
          description: "The uuid of next revision dataset"
    Upload:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor, Upload"
        description:
          type: string
          description: "Free text description of the data being submitted."
        title:
          type: string
          description: "Title of the datasets, a sentance or less"
        status:
          type: string
          description: "One of: New|Valid|Invalid|Error|Submitted"
        validation_message:
          type: string
          description: A message from the validataion tools describing what is invalid with the upload.
        group_uuid:
          type: string
          description: "The uuid of globus group which the user who created this entity is a member of.  This is required on Create/POST if the user creating the Donor is a member of more than one write group.  This property cannot be set via PUT (only on Create/POST)."
        group_name:
          type: string
          readOnly: true
          description: "The displayname of globus group which the user who created this entity is a member of"
        dataset_uuids_to_link:
          type: array
          items:
            type: string
          writeOnly: true
          description: 'List of datasets to add to the Upload. Provide as a json array of the dataset uuids like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
        dataset_uuids_to_unlink:
          type: array
          items:
            type: string
          writeOnly: true
          description: 'List of datasets to remove from a Upload. Provide as a json array of the dataset uuids like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
          readOnly: true
          description: "The datasets that are contained in this Upload."
    Collection:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        ###### All other shared properties ######
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor"
        registered_doi:
          type: string
          description: "The doi of a the registered entity. e.g. 10.35079/hbm289.pcbm.487.  This is set during the publication process and currently available for certain Collections and Datasets."
        doi_url:
          type: string
          readOnly: true
          description: "The url from the doi registry for this entity. e.g. https://doi.org/10.35079/hbm289.pcbm.487"
        creators:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who created the entity with full name, email, ORCID iD, institution, etc.. This is analogus to the author list on a publication."
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who are the main contacts to get information about the entity."
        title:
          type: string
          description: "The title of the Collection"
        datasets:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Dataset'
          description: "The datasets that are contained in the Collection."

security:
  - bearerAuth: []
paths:
  '/entities/{id}':
    get:
      summary: Retrieve a provenance entity by id.  Entity types of Donor, Sample and Datasets. 
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID (32 digit hexadecimal number)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The json of the **[Donor](http://somewhere.org)**, **[Sample](http://somewhere.org)** or **[Dataset](http://somewhere.org)**
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Donor'
                  - $ref: '#/components/schemas/Sample'
                  - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier was provided.
        '401':
          description: The user's bearer token has expired or the user did not supply a valid token.
        '403':
          description: The user is not authorized to retrieve the referenced entity.
        '404':
          description: The target entity could not be found.
        '500':
          description: An unexpected error occurred.
    put:
      summary: 'Update the properties of a given Donor, Sample, Dataset or Upload'
      parameters:
        - name: id
          in: path
          description: The HuBMAP ID (e.g. HBM123.ABCD.456) or UUID of target entity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Donor'
                - $ref: '#/components/schemas/Sample'
                - $ref: '#/components/schemas/Dataset'
      responses:
        '200':
          description: The entity was successfully updated and is returned
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Donor'
                  - $ref: '#/components/schemas/Sample'
                  - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  /entity-types:
    get:
      summary: Get a list of all the available entity types defined in the schema yaml
      responses:
        '200':
          description: An array of entity types is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: THe user is not authorized to use this method
        '500':
          description: Internal error
  '/ancestors/{id}':
    get:
      summary: Get the ancestor list for an Entity.  The ancestors are the nodes connected "upstream" from the current node.  This list traverses all the levels in the graph.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of ancestors is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Donor'
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'

        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/descendants/{id}':
    get:
      summary: Get the descendant list for an Entity.  The descendants are the nodes "downstream" from the current node.  This list traverses all the levels in the graph. Returns all descendants as an array of Entities.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of descendants is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/parents/{id}':
    get:
      summary: Get the immediate parent list for an Entity.  The parents are the nodes connected one level "upstream" from the current node.  This list only goes to the next higher level in the graph.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of parent entities is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Donor'
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/children/{id}':
    get:
      summary: Get the list of children directly connected to an Entity.  The children are the nodes one level below the current node.  This list only returns the items one level below in the graph.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of children entities is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{id}/provenance':
    get:
      summary: 'Get Provenance Data for Entity.  This returns a PROV JSON compliant representation of the entity''s provenance. Refer to this document for more information regarding [PROV JSON format](https://www.w3.org/Submission/2013/SUBM-prov-json-20130424/)'
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json: {}
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the provenance of the given entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{id}/ancestor-organs':
    get:
      summary: Retrievea list of ancestor organ(s) of a given uuid
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of Samples (sub-type organ) are returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sample'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to retrieve the entity
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/collections/{id}':
    get:
      summary: 'Returns the information of the Collection specified by the uuid with all connected datasets. If a valid token is provided with group membership in the HuBMAP-Read group any collection matching the id will be returned.  Otherwise if no token is provided or a valid token with no HuBMAP-Read group membership then only a public collection will be returned.  Public collections are defined as being published via a DOI (collection.doi_registered == true) and at least one of the connected datasets is public (dataset.metadata.data_access_level == ''public''). For public collections only connected datasets that are public are returned with it.'
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The collection is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{entity_type}':
    post:
      summary: Create an entity of the target type
      parameters:
        - name: entity_type
          in: path
          description: 'One of the target entity types (case-insensitive since will be normalized): Dataset, Donor, Sample'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Donor'
                - $ref: '#/components/schemas/Sample'
                - $ref: '#/components/schemas/Dataset'
                - $ref: '#/components/schemas/Upload'
      responses:
        '200':
          description: The entity was successfully created and is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Donor'
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
                    - $ref: '#/components/schemas/Upload'
        '400':
          description: Invalid entity type provided
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to create the entity
        '500':
          description: Internal error
  '/entities/multiple-samples/{count}':
    post:
      summary: "Create multiple samples from the same source entity. 'count' samples will be generated each with individual uuids, hubmap_ids and submission_ids."
      parameters:
        - name: count
          in: path
          description: The number of samples to be created
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The samples were successfully created.  An array of objects each containing a uuid, hubmap_id and submission_id associated with each newly created sample.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    hubmap_id:
                      type: string
                    submission_id:
                      type: string
                    uuid:
                      type: string
        '400':
          description: Invalid json input
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '500':
          description: Internal error
  '/collections/{collection_uuid}}/add-datasets':
    put:
      summary: Link the given list of datasets to the target collection
      parameters:
        - name: collection_uuid
          in: path
          description: The UUID of target collection
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid or misformatted collection uuid
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to add datasets to the collection
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/doi/redirect/{id}':
    get:
      summary: Redirect a request from a doi service  
      parameters:
        - name: id
          in: path
          description: The HuBMAP ID (e.g. HBM123.ABCD.456) or UUID of the target collection
          required: true
          schema:
            type: string
      responses:
        '307':
          description: Redirect to the entities landing page
        '400':
          description: Invalid or misformatted collection identifier
        '500':
          description: Internal error
  '/entities/{id}/globus-url':
    get:
      summary: Get the Globus URL to the given Dataset or Upload entity
      parameters:
        - name: id
          in: path
          description: The HuBMA`P ID (e.g. HBM123.ABCD.456) or UUID of the given ntity
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the Globus service URL pointing to the Dataset or Upload data is returned
          content:
            text/plain:
              schema:
                type: string
                format: url
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not autorizized to access the data
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  /file-upload:
    post:
      summary: "Upload a file to temporarily stage.  On success the file will be staged and a temporary id will be returned to reference the staged file by.  The temporary id can be used by the *_files_to_add properties during PUT/POST for Donors and Samples to commit the file permanantly and associate with an entity." 
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: The file was successfully uploaded and staged, the temporary file id is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  temp_file_id:
                    type: string
        '400':
          description: Missing file
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to upload the file.
        '500':
          description: Internal error
