openapi: 3.0.0

info:
  description: 'HuBMAP Entity API specification [http://www.hubmapconsortium.org](https://hubmapconsortium.org/)'
  version: "2.0.0"
  title: HuBMAP Entity API
  termsOfService: "https://hubmapconsortium.org/"
  contact:
    email: api-developers@hubmapconsortium.org
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

servers:
  - url: "https://entity.api.hubmapconsortium.org"
  
paths:
  /entities/{id}:
    get:
      summary: 'Retrive the metadata information of a given entity by id'
      parameters:
        - name: id
          in: path
          description: 'The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
    
    put:
      summary: 'Update the properties of a given entity, no Collection stuff'
      parameters:
        - name: id
          in: path
          description: 'The HuBMAP ID (e.g. HBM123.ABCD.456) or UUID of target entity'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
  
  /entity-types:
    get:
      summary: 'Get a list of all the available entity types defined in the schema yaml'
      responses:
        "200":
          description: successful operation
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "500":
          description: Internal error
  
  /{entity_type}/entities:
    get:
      summary: 'Retrive all the entity nodes for a given entity type'
      parameters:
        - name: entity_type
          in: path
          description: code of type
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid entity type provided
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "500":
          description: Internal error

  /ancestors/{id}:
    get:
      summary: 'Get the ancestor list for an Entity.  The ancestors are the nodes connected "upstream" from the current node.  This list traverses all the levels in the graph.'
      parameters:
        - name: id
          in: path
          description: 'The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
  
  /descendants/{id}:
    get:
      summary: 'Get the descendant list for an Entity.  The descendants are the nodes "downstream" from the current node.  This list traverses all the levels in the graph.'
      parameters:
        - name: id
          in: path
          description:  'The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
  
  /parents/{id}:
    get:
      summary: 'Get the immediate parent list for an Entity.  The parents are the nodes connected one level "upstream" from the current node.  This list only goes to the next higher level in the graph.'
      parameters:
        - name: id
          in: path
          description:  'The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
  
  /children/{id}:
    get:
      summary: 'Get the list of children directly connected to an Entity.  The children are the nodes one level below the current node.  This list only returns the items one level below in the graph.'
      parameters:
        - name: id
          in: path
          description: 'The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
  
  /entities/{id}/provenance:
    get:
      summary: "Get Provenance Data for Entity.  This returns a PROV JSON compliant representation of the entity's provenance. Refer to this document for more information regarding [PROV JSON format](https://www.w3.org/Submission/2013/SUBM-prov-json-20130424/)"
      parameters:
        - name: id
          in: path
          description: 'The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
  
  /entities/{id}/ancestor-organs:
    get:
      summary: "Retrievea list of ancestor organ(s) of a given uuid"
      parameters:
        - name: id
          in: path
          description: 'The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
          
  /collections:
    get:
      summary: "Returns a list of Collections which include the basic Collection information and the uuids of all connected datasets.  If the component argument is omitted all Collections are returned.  For this call, the JWT is optional. If a valid token is provided with group membership in the HuBMAP-Read group any collection matching the id will be returned.  Otherwise if no token is provided or a valid token with no HuBMAP-Read group membership then only a public collection will be returned.  Public collections are defined as being published via a DOI (collection.doi_registered == true) and at least one of the connected datasets is public (dataset.metadata.data_access_level == 'public'). For public collections only connected datasets that are public are returned with it."
      parameters:
        - name: component
          in: query
          description: 'A prefix corresponding to the various components within the HuBMAP Consortium.'
          required: false
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "500":
          description: Internal error
  
  /collections/{id}:
    get:
      summary: "Returns the information of the Collection specified by the uuid with all connected datasets.  For this call, the JWT is optional. If a valid token is provided with group membership in the HuBMAP-Read group any collection matching the id will be returned.  Otherwise if no token is provided or a valid token with no HuBMAP-Read group membership then only a public collection will be returned.  Public collections are defined as being published via a DOI (collection.doi_registered == true) and at least one of the connected datasets is public (dataset.metadata.data_access_level == 'public'). For public collections only connected datasets that are public are returned with it."
      parameters:
        - name: id
          in: path
          description: 'The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID'   
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
          
  /entities/{entity_type}:
    post:
      summary: 'Create an entity of the target type'
      parameters:
        - name: entity_type
          in: path
          description: 'One of the target entity types (case-insensitive since will be normalized): Dataset, Donor, Sample'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid entity type provided
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "500":
          description: Internal error
  
  /entities/multiple-samples/{count}:
    post:
      summary: 'Create multiple samples from the same source entity'
      parameters:
        - name: count
          in: path
          description: 'The number of samples to be created'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid json input
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "500":
          description: Internal error

  /entities/multiple-samples:
    put:
      summary: 'Update properties of multiple samples via one API request'
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid json input
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error

  /collections/{collection_uuid}}/add-datasets:
    put:
      summary: 'Link the given list of datasets to the target collection'
      parameters:
        - name: collection_uuid
          in: path
          description: 'The UUID of target collection'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted collection uuid
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
          
  /collection/redirect/{id}:
    put:
      summary: 'Redirect a request from a doi service for a collection of data'
      parameters:
        - name: id
          in: path
          description: 'The HuBMAP ID (e.g. HBM123.ABCD.456) or UUID of the target collection'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted collection identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
          
  /entities/dataset/globus-url/{id}:
    put:
      summary: 'Get the Globus URL to the given dataset'
      parameters:
        - name: id
          in: path
          description: 'The HuBMAP ID (e.g. HBM123.ABCD.456) or UUID of the given ntity'
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid or misformatted entity identifier
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "404":
          description: The target entity could not be found
        "500":
          description: Internal error
          
  /file-upload:
    put:
      summary: 'File upload handling for Donor and Sample'
      responses:
        "200":
          description: successful operation
        "400":
          description: Missing file
        "401":
          description: "The user's token has expired or the user did not supply a valid token"
        "500":
          description: Internal error