openapi: 3.0.0
info:
  description: 'The HuBMAP Entity API is a standard RESTful web service with create, update and read operations for the standard HuBMAP provenance graph entities.'
  version: 2.4.3
  title: HuBMAP Entity API
  contact:
    name: HuBMAP Help Desk
    email: help@hubmapconsortium.org
  license:
    name: MIT License
    url: 'https://github.com/hubmapconsortium/entity-api/blob/main/license.txt'
servers:
  - url: 'https://entity.api.hubmapconsortium.org'
security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
      description: Globus bearer token to authorize requests. Have to use apiKey to pass AWS API Gateway import validation
  schemas:
    Person:
      type: object
      properties:
        first_name:
          type: string
          description: "The full name of the person."
        last_name:
          type: string
          description: The last name of the person.
        middle_name_or_initial:
          type: string
          description: The middle name or initial of the person.
        orcid_id:
          type: string
          description: The ORCID iD of the person.
        affiliation:
          type: string
          description: The institution that the person is affiliated with.
    Antibody:
      type: object
      properties:
        antibody_name:
          type: string
          description: "The name of the antibody."
        channel_id:
          type: string
          description: "The assay specific identifier for the channel corresponding to the antibody."
        conjugated_cat_number:
          type: string
          description: "An antibody may be conjugated to a fluorescent tag or a metal tag for detection. Conjugated antibodies may be purchased from commercial providers. Blank if not applicable."
        conjugated_tag:
          type: string
          description: "An antibody may be conjugated to a fluorescent tag or a metal tag for detection. Conjugated antibodies may be purchased from commercial providers. Blank if not applicable."
        dilution:
          type: string
          description: "The dilition ratio, e.g. 1/200 for the antibody.  Blank if not applicable."
        lot_number:
          type: string
          description: "The antibody lot number from the vendor."
        rr_id:
          type: string
          description: "The unique antibody identifier from the Antibody Registry (https://antibodyregistry.org). "
        uniprot_accession_number:
          type: string
          description: "The unique identifier for the target protein in the UniProt database (https://www.uniprot.org)."
    DonorMetadata:
      type: object
      properties:
        code:
          type: string
          description: "This is a Code from a source vocabulary in the HuBMAP Knowledge Graph, currently limited to UMLS source vocabulary terms."
        sab:
          type: string
          description: "This is the source vocabulary in the HuBMAP Knowledge Graph.  Currently limited to UMLS source vocabularies."
        concept_id:
          type: string
          description: "This is the Concept ID from the HuBMAP Knowledge Graph.  Currently limited to UMLS concepts."
        data_type:
          type: string
          enum:
            - Nominal
            - Numeric
          description: "This is the data type of thw record. Numeric types will generally have non-null data_value. Nominal types will generally have null data_value."
        data_value:
          type: string
          description: "The data value of the record."
        numeric_operator:
          type: string
          enum:
            - EQ
            - GT
            - LT
          description: "This is the numeric operator for the data value .This enables inputing thresholds and ranges for data values by using greater than or less than."
        units:
          type: string
          description: "This are the units for the data value."
        preferred_term:
          type: string
          description: "This is the preferred display term for the item. It may or may not correspond to a term in UMLS for this concept."
        grouping_concept:
          type: string
          description: "This is the Concept ID from the HuBMAP Knowledge Graph, currently limited to UMLS concetps, that is to be used for grouping the record."
        grouping_concept_preferred_term:
          type: string
          description: "This is the preferred display term for the facet in which this record should be counted for faceted search in the portal. It may or may not correspond to a term in UMLS for the grouping concept."
        grouping_code:
          type: string
          description: "This is a Code from a source vocabulary in the HuBMAP Knowledge Graph, currently limited to UMLS vocabulary codes. This code corresponds to the grouping_concept."
        grouping_sab:
          type: string
          description: "This is a grouping for the source vocabulary in the HuBMAP Knowledge Graph, currently limited to UMLS source vocabularies.. This sab corresponds to the grouping_code."
        graph_version:
          type: string
          description: "This is the version of the HuBMAP Knowledge Graph that the Concept appears in, currently the version of UMLS that is used."
        start_datetime:
          type: integer
          description: "This is the approximate time difference in seconds between the procurement and the start of this event (this is to construct time series records of clinical data for event-level data not donor-level data). An empty or zero value designates missing data or that this field is not applicable for the concept."
        end_datetime:
          type: integer
          description: "This is the approximate time difference in seconds between the procurement and the end of this event (this is to construct time series records of clinical data for event-level data not donor-level data). An epty of zero value designates missing data or that this field is not applicable for the concept"
    SampleMetadata:
      type: object
      description: "The sample specific metadata derived from the uploaded sample_metadata.tsv file. Returned as a json object."
      properties:
        sample_id:
          type: string
          description: "The HuBMAP Identifier for the sample."
        vital_state:
          type: string
          enum:
            - living
            - deceased
          description: "The vital state of the donor who the tissue sample came from."
        health_status:
          type: string
          enum:
            - cancer
            - "relatively healthy"
            - "chronic illness"
          description: "Donor from which the tissue sample came from's baseline physical condition prior to immediate event leading to organ/tissue acquisition. For example, if a relatively healthy patient suffers trauma, and as a result of reparative surgery, a tissue sample is collected, the subject will be deemed 'relatively healthy'. Likewise, a relatively healthy subject may have experienced trauma leading to brain death. As a result of organ donation, a sample is collected. In this scenario, the subject is deemed 'relatively healthy'."
        organ_condition:
          type: string
          enum:
            - healthy
            - diseased
          description: "Health status of the organ at the time of tissue sample recovery."
        procedure_date:
          type: string
          description: "The date at which the organ from which the tissue sample came from was procurred, in the format YYYY-MM-DD"
        perfusion_solution:
          type: string
          enum:
            - UWS
            - HTK
            - Belzer MPS/KPS
            - Formalin
            - Unknown
            - None
          description: "Health status of the organ at the time of sample recovery."
        pathologist_report:
          type: string
          description: "Further details on organ level QC checks."
        warm_ischemia_time_value:
          type: integer
          description: "Time interval between cessation of blood flow and cooling to 4C. Blank if not applicable."
        warm_ischemia_time_unit:
          type: string
          description: "Time units that the warm_ischemia_time_value is reported in. Blank if not applicable"
        cold_ischemia_time_value:
          type: integer
          description: "Time interval on ice to the start of preservation protocol. Blank if not applicable."
        cold_ischemia_time_unit:
          type: string
          description: "Time units that the cold_ischemia_time_value is reported in. Blank if not applicable."
        specimen_preservation_temperature:
          type: string
          description: "The temperature of the medium during the preservation process. Reported as preservation method, temperature and units, e.g. Freezer (-80 Celsius)"
        specimen_quality_criteria:
          type: string
          description: "RIN score. e.g. RIN: 8.7"
        specimen_tumor_distance_value:
          type: string
          description: "If surgical sample from a tumor biopsy, how far from the tumor was the sample obtained from. Typically a number of centimeters. Blank if not applicable or unknown."
        specimen_tumor_distance_unit:
          type: string
          description: ""
    DatasetProvMetadata:
      type: object
      allOf:
        - $ref: '#/components/schemas/Dataset'
        - type: object
      properties:
        samples:
          type: array
          items:
            $ref: '#/components/schemas/Sample'
          readOnly: true
          description: 'List of Samples not of sub-type organ for the dataset'
        organs:
          type: array
          items:
            $ref: '#/components/schemas/Sample'
          readOnly: true
          description: 'List of Samples of sub-type organ for the dataset'
        donors:
          type: array
          items:
            $ref: '#/components/schemas/Donor'
          readOnly: true
          description: 'List of Donors for the dataset'
    File:
      type: object
      properties:
        filename:
          type: string
          description: "The name of the file."
        description:
          type: string
          description: "A description of the file. The Dataset.thumbnail_file does not have this file description."
        file_uuid:
          type: string
          description: "The HuBMAP unique identifier for the file."
    Donor:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor, Upload"
        registered_doi:
          type: string
          description: "The doi of a the registered entity. e.g. 10.35079/hbm289.pcbm.487.  This is set during the publication process and currently available for certain Collections and Datasets."
        doi_url:
          type: string
          readOnly: true
          description: "The url from the doi registry for this entity. e.g. https://doi.org/10.35079/hbm289.pcbm.487"
        creators:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who created the entity with full name, email, ORCID iD, institution, etc.. This is analogus to the author list on a publication."
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who are the main contacts to get information about the entity."
        description:
          type: string
          description: "Free text description of the donor"
        data_access_level:
          type: string
          readOnly: true
          enum:
            - consortium
            - public
          description: "One of the values: public, consortium"
        image_files:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: "List of uploaded image files and descriptions of the files. Stored in db as a stringfied json array."
        image_files_to_add:
          writeOnly: true
          type: array
          items:
            type: string
            format: temp_file_id
          description: 'List of temporary file ids with an optional description. Provide as a json array with an temp_file_id and description attribute for each element like {"files": [{"temp_file_id":"dzevgd6xjs4d5grmcp4n","description":"This is image file one"},{"temp_file_id":"yrahjadfhadf","description":"This is image file two"}]}'
        image_files_to_remove:
          writeOnly: true
          type: array
          items:
            type: string
            format: file_uuid
          description: 'List of image files previously uploaded to delete. Provide as a json array of the file_uuids of the file like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
        metadata:
          type: object
          properties:
            organ_donor_data:
              type: array
              description: "Information about the donor who's organ(s) was/were used.  The organ was obtained via an organ donation program from a deceaced donor. Only living_donor_data or organ_donor_data, not both can be defined for a single donor."
              items:
                $ref: '#/components/schemas/DonorMetadata'
            living_donor_data:
              type: array
              description: "Information about the donor who's tissue was used.  The tissue was obtained during a procedure. Only living_donor_data or organ_donor_data, not both can be defined for a single donor."
              items:
                $ref: '#/components/schemas/DonorMetadata'
          description: "Donor metadata as an array of UMLS codes and descriptions"
        protocol_url:
          type: string
          description: "The protocols.io doi url pointing the protocol describing the donor selection, inclusion/exclusion criteria"
        lab_donor_id:
          type: string
          description: "A lab specific identifier for the donor."
        submission_id:
          readOnly: true
          type: string
          description: "The hubmap internal id with embedded semantic information e.g.: VAN0003. This id is generated at creation time which tracks the lab, donor, organ and sample hierarchy per the following: https://docs.google.com/document/d/1DjHgmqWF1VA5-3mfzLFNfabbzmc8KLSG9xWx1DDLlzo/edit?usp=sharing"
        group_uuid:
          type: string
          description: "The uuid of globus group which the user who created this entity is a member of.  This is required on Create/POST if the user creating the Donor is a member of more than one write group.  This property cannot be set via PUT (only on Create/POST)."
        group_name:
          readOnly: true
          type: string
          description: "The displayname of globus group which the user who created this entity is a member of"
        label:
          type: string
          description: "Lab provided, de-identified name for the donor"
    Sample:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor"
        registered_doi:
          type: string
          description: "The doi of a the registered entity. e.g. 10.35079/hbm289.pcbm.487.  This is set during the publication process and currently available for certain Collections and Datasets."
        doi_url:
          type: string
          readOnly: true
          description: "The url from the doi registry for this entity. e.g. https://doi.org/10.35079/hbm289.pcbm.487"
        creators:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who created the entity with full name, email, ORCID iD, institution, etc.. This is analogus to the author list on a publication."
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who are the main contacts to get information about the entity."
        description:
          type: string
          description: "Free text description of the sample"
        data_access_level:
          type: string
          enum:
            - consortium
            - public
          description: "One of the values: public, consortium."
        sample_category:
          type: string
          enum:
            - organ
            - block
            - section
            - suspension
          description: "A code representing the type of specimen. Must be an organ, block, section, or suspension"
        protocol_url:
          type: string
          description: "The protocols.io doi url pointing the protocol under wich the sample was obtained and/or prepared."
        group_uuid:
          type: string
          description: "The uuid of globus group which the user who created this entity is a member of.  This is required on Create/POST if the user creating the Donor is a member of more than one write group.  This property cannot be set via PUT (only on Create/POST)."
        group_name:
          readOnly: true
          type: string
          description: "The displayname of globus group which the user who created this entity is a member of"
        organ:
          type: string
          enum:
            - AO
            - BL
            - BD
            - BM
            - BR
            - LF
            - RF
            - HT
            - LB
            - LE
            - LI
            - LK
            - LL
            - LN
            - LV
            - LY
            - LO
            - RO
            - OT
            - PA
            - PL
            - RB
            - RE
            - RK
            - RL
            - RN
            - SI
            - SK
            - SP
            - ST
            - TH
            - TR
            - UR
            - UT
          description: "Organ code specifier, only set if sample_category == organ.  Valid values found in: [organ types](https://github.com/hubmapconsortium/search-api/blob/main/src/search-schema/data/definitions/enums/organ_types.yaml)"
        organ_other:
          type: string
          description: The organ type provided by the user if "other" organ type is selected
        direct_ancestor_uuid:
          type: string
          writeOnly: true
          description: "The uuid of source entity from which this new entity is derived from. Used on creation or edit to create an action and relationship to the ancestor.  The direct ancestor must be a Donor or Sample.  If the direct ancestor is a Donor, the sample must be of type organ."
        direct_ancestor:
          readOnly: true
          type: object
          description: "The entitiy directly above this sample in the provenance graph (direct parent)."
        submission_id:
          type: string
          description: "The hubmap internal id with embedded semantic information e.g.: VAN0003-LK-1-10.  This id is generated at creation time which tracks the lab, donor, organ and sample hierarchy per the following: https://docs.google.com/document/d/1DjHgmqWF1VA5-3mfzLFNfabbzmc8KLSG9xWx1DDLlzo/edit?usp=sharing"
        lab_tissue_sample_id:
          type: string
          description: "Lab specific id for the sample."
        metadata:
          $ref: '#/components/schemas/SampleMetadata'
        rui_location:
          type: object
          description: "The sample location and orientation in the ancestor organ as specified in the RUI tool. Returned as a json object."
        visit:
          type: string
          description: "The visit id for the donor/patient when the sample was obtained."
        image_files:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: "List of uploaded image files and descriptions of the files. Stored in db as a stringfied json array."
        image_files_to_add:
          writeOnly: true
          type: array
          items:
            type: string
            format: temp_file_id
          description: 'List of temporary file ids with an optional description. Provide as a json array with an temp_file_id and description attribute for each element like {"files": [{"temp_file_id":"dzevgd6xjs4d5grmcp4n","description":"This is image file one"},{"temp_file_id":"yrahjadfhadf","description":"This is image file two"}]}'
        image_files_to_remove:
          writeOnly: true
          type: array
          items:
            type: string
            format: file_uuid
          description: 'List of image files previously uploaded to delete. Provide as a json array of the file_uuids of the file like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
        metadata_files:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: "List of uploaded image files and descriptions of the files. Stored in db as a stringfied json array."
        metadata_files_to_add:
          type: array
          items:
            type: string
            format: temp_file_id
          description: 'List of temporary file ids with an optional description. Provide as a json array with an temp_file_id and description attribute for each element like {"files": [{"temp_file_id":"dzevgd6xjs4d5grmcp4n","description":"This is image file one"},{"temp_file_id":"yrahjadfhadf","description":"This is image file two"}]}'
        metadata_files_to_remove:
          type: array
          items:
            type: string
            format: file_uuid
          description: 'List of image files previously uploaded to delete. Provide as a json array of the file_uuids of the file like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
    Dataset:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        error_message:
          type: string
          readOnly: false
          description: "An open text field that holds the last error message that arose from pipeline validation or analysis."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor"
        registered_doi:
          type: string
          description: "The doi of a the registered entity. e.g. 10.35079/hbm289.pcbm.487.  This is set during the publication process and currently available for certain Collections and Datasets."
        doi_url:
          type: string
          readOnly: true
          description: "The url from the doi registry for this entity. e.g. https://doi.org/10.35079/hbm289.pcbm.487"
        creators:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who created the entity with full name, email, ORCID iD, institution, etc.. This is analogus to the author list on a publication."
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who are the main contacts to get information about the entity."
        antibodies:
          type: array
          items:
            $ref: '#/components/schemas/Antibody'
          description: "A list of antibodies used in the assay that created the dataset"
        description:
          type: string
          description: "Free text description of the dataset"
        data_access_level:
          type: string
          readOnly: true
          enum:
            - public
            - consortium
          description: "One of the values: public, consortium."
        contains_human_genetic_sequences:
          type: boolean
          description: "True if the data contains any human genetic sequence information. Can only be set at CREATE/POST time"
        status:
              type: string
              enum:
                - New
                - Processing
                - QA
                - Published
                - Error
                - Hold
                - Invalid
              description: "One of: New|Processing|QA|Published|Error|Hold|Invalid"
        title:
          type: string
          description: "The dataset title."
        data_types:
          type: array
          items:
            type: string
            enum:
              - AF
              - ATACseq-bulk
              - bulk_atacseq
              - cell-dive
              - CODEX
              - codex_cytokit
              - DART-FISH
              - image_pyramid
              - IMC
              - 3D-IMC
              - lc-ms_label-free
              - lc-ms_labeled
              - lc-ms-ms_label-free
              - lc-ms-ms_labeled
              - LC-MS-untargeted
              - Lightsheet
              - MALDI-IMS-neg
              - MALDI-IMS-pos
              - MxIF
              - PAS
              - bulk-RNA
              - salmon_rnaseq_bulk
              - SNAREseq
              - sc_atac_seq_snare_lab
              - sc_atac_seq_snare
              - scRNA-Seq-10x
              - salmon_rnaseq_10x
              - sc_rna_seq_snare_lab
              - salmon_rnaseq_snareseq
              - sciATACseq
              - sc_atac_seq_sci
              - sciRNAseq
              - salmon_rnaseq_sciseq
              - seqFish
              - seqFish_lab_processed
              - snATACseq
              - sn_atac_seq
              - snRNAseq
              - salmon_sn_rnaseq_10x
              - Slide-seq
              - Targeted-Shotgun-LC-MS
              - TMT-LC-MS
              - WGS
          description: "The data or assay types contained in this dataset as a json array of strings.  Each is an assay code from [assay types](https://github.com/hubmapconsortium/search-api/blob/main/src/search-schema/data/definitions/enums/assay_types.yaml)."
        collections:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Collection'
          description: "A list of collections that this dataset belongs to."
        upload:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Upload'
          description: "The Data Upload that this dataset is associated with."
        contributors:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of people who contributed to the creation of this dataset.  Returned as an array of contributor where the structure of a contributor is"
        direct_ancestors:
          readOnly: true
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/Sample'
              - $ref: '#/components/schemas/Dataset'
          description: "A list of direct parent ancensters (one level above) that the Dataset was derived from."
        published_timestamp:
          readOnly: true
          type: integer
          description: "The timestamp of when the dataset was published.  The format is an integer representing milliseconds since midnight, Jan 1, 1970."
        published_user_displayname:
          readOnly: true
          type: string
          description: "The name of the authenticated user or process that published the data."
        published_user_sub:
          readOnly: true
          type: string
          description: "The subject id for the user who published the data as provided by the authorization mechanism for the person or process authenticated when the dataset was published."
        published_user_email:
          readOnly: true
          type: string
          description: "The email address of the user who published the provided by the authorization mechanism for the person or process authenticated when published."
        ingest_metadata:
          type: object
          description: "Information associated with running the ingest and processing pipelines."
        metadata:
          type: object
          description: "Metadata associated with the ingested experimental data."
        files:
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: "A list of files associated with the dataset."
        calculated_metadata:
          type: object
          description: "Calculated metadata outputted from the processing pipeline."
        local_directory_rel_path:
          type: string
          readOnly: true
          description: "The path on the local HIVE file system, relative to the base data directory, where the data is stored."
        group_uuid:
          type: string
          description: "The uuid of globus group which the user who created this entity is a member of.  This is required on Create/POST if the user creating the Donor is a member of more than one write group.  This property cannot be set via PUT (only on Create/POST)."
        group_name:
          type: string
          readOnly: true
          description: "The displayname of globus group which the user who created this entity is a member of"
        previous_revision_uuid:
          type: string
          description: "The uuid of previous revision dataset. Can only be set at Create/POST time."
        next_revision_uuid:
          type: string
          readOnly: true
          description: "The uuid of next revision dataset"
        previous_revision_uuids:
          type: array
          items:
            type: string
          description: "The uuids of previous revision datasets. Can only be set at Create/POST time."
        next_revision_uuids:
          type: array
          items:
            type: string
          readOnly: true
          description: "The uuids of next revision dataset"
        thumbnail_file:
          readOnly: true
          description: 'The dataset thumbnail file detail. Stored in db as a stringfied json, e.g., {"filename": "thumbnail.jpg", "file_uuid": "c35002f9c3d49f8b77e1e2cd4a01803d"}'
        thumbnail_file_to_add:
          writeOnly: true
          type: string
          format: temp_file_id
          description: 'Just a temporary file id. Provide as a json object with an temp_file_id like {"temp_file_id":"dzevgd6xjs4d5grmcp4n"}'
        thumbnail_file_to_remove:
          writeOnly: true
          type: string
          format: file_uuid
          description: 'The thumbnail image file previously uploaded to delete. Provide as a string of the file_uuid like: "c35002f9c3d49f8b77e1e2cd4a01803d"'
        sub_status:
          type: string
          description: 'A sub-status provided to further define the status. The only current allowable value is "Retracted"'
        retraction_reason:
          type: string
          description: 'Information recorded about why a the dataset was retracted.'
        dbgap_sra_experiment_url:
          type: string
          description: 'A URL linking the dataset to the associated uploaded data at dbGaP.'
        dbgap_study_url:
          type: string
          description: 'A URL linking the dataset to the particular study on dbGap it belongs to'
        creation_action:
          type: string
          description: 'The associated action that represents the creation of that dataset'
        intended_dataset_type:
          type: string
          description: 'The dataset type of the intended datasets that will be uploaded as part of the Upload.'
        intended_organ:
          type: string
          description: 'The organ code representing the organ type that the data contained in the upload will be registered/associated with.'
    Upload:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor, Upload"
        description:
          type: string
          description: "Free text description of the data being submitted."
        title:
          type: string
          description: "Title of the datasets, a sentance or less"
        status:
          type: string
          description: "One of: New|Valid|Invalid|Error|Submitted"
        validation_message:
          type: string
          description: A message from the validataion tools describing what is invalid with the upload.
        group_uuid:
          type: string
          description: "The uuid of globus group which the user who created this entity is a member of.  This is required on Create/POST if the user creating the Donor is a member of more than one write group.  This property cannot be set via PUT (only on Create/POST)."
        group_name:
          type: string
          readOnly: true
          description: "The displayname of globus group which the user who created this entity is a member of"
        dataset_uuids_to_link:
          type: array
          items:
            type: string
          writeOnly: true
          description: 'List of datasets to add to the Upload. Provide as a json array of the dataset uuids like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
        dataset_uuids_to_unlink:
          type: array
          items:
            type: string
          writeOnly: true
          description: 'List of datasets to remove from a Upload. Provide as a json array of the dataset uuids like: ["232934234234234234234270c0ea6c51d604a850558ef2247d0b4", "230948203482234234234a57bfe9c056d08a0f8e6cd612baa3bfa"]'
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
          readOnly: true
          description: "The datasets that are contained in this Upload."
    Collection:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor"
        registered_doi:
          type: string
          description: "The doi of a the registered entity. e.g. 10.35079/hbm289.pcbm.487.  This is set during the publication process and currently available for certain Collections and Datasets."
        doi_url:
          type: string
          readOnly: true
          description: "The url from the doi registry for this entity. e.g. https://doi.org/10.35079/hbm289.pcbm.487"
        contributors:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who created the entity with full name, email, ORCID iD, institution, etc.. This is analogus to the author list on a publication."
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who are the main contacts to get information about the entity."
        title:
          type: string
          description: "The title of the Collection"
        datasets:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Dataset'
          description: "The datasets that are contained in the Collection."
    Publication:
      type: object
      properties:
        created_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the node was created.  The format is an integer representing milliseconds since midnight Jan 1, 1970"
        created_by_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process authenticated when creating the object"
        created_by_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process authenticated when creating the object."
        created_by_user_sub:
          type: string
          readOnly: true
          description: "The subject id as provided by the authorization mechanism for the person or process authenticated when creating the object."
        uuid:
          type: string
          readOnly: true
          description: "The HuBMAP unique identifier, intended for internal software use only.  This is a 32 digit hexadecimal uuid e.g. 461bbfdc353a2673e381f632510b0f17"
        error_message:
          type: string
          readOnly: false
          description: "An open text field that holds the last error message that arose from pipeline validation or analysis."
        hubmap_id:
          type: string
          readOnly: true
          description: "A HuBMAP Consortium wide unique identifier randomly generated in the format HBM###.ABCD.### for every entity."
        last_modified_timestamp:
          type: integer
          readOnly: true
          description: "The timestamp of when the object was last modified.  The format is an integer representing milliseconds since midnight, Jan 1, 1970"
        last_modified_user_sub:
          type: string
          readOnly: true
          description: "The subject id of the user who last modified the entity as provided by the authorization mechanism for the person or process authenticated when the object was modified."
        last_modified_user_email:
          type: string
          readOnly: true
          description: "The email address of the person or process which authenticated when the object was last modified."
        last_modified_user_displayname:
          type: string
          readOnly: true
          description: "The name of the person or process which authenticated when the object was last modified."
        entity_type:
          type: string
          readOnly: true
          description: "One of the normalized entity types: Dataset, Collection, Sample, Donor"
        registered_doi:
          type: string
          description: "The doi of a the registered entity. e.g. 10.35079/hbm289.pcbm.487.  This is set during the publication process and currently available for certain Collections and Datasets."
        doi_url:
          type: string
          readOnly: true
          description: "The url from the doi registry for this entity. e.g. https://doi.org/10.35079/hbm289.pcbm.487"
        creators:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who created the entity with full name, email, ORCID iD, institution, etc.. This is analogus to the author list on a publication."
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of the people who are the main contacts to get information about the entity."
        antibodies:
          type: array
          items:
            $ref: '#/components/schemas/Antibody'
          description: "A list of antibodies used in the assay that created the dataset"
        description:
          type: string
          description: "Free text description of the dataset"
        data_access_level:
          type: string
          readOnly: true
          enum:
            - public
            - consortium
          description: "One of the values: public, consortium."
        contains_human_genetic_sequences:
          type: boolean
          description: "True if the data contains any human genetic sequence information. Can only be set at CREATE/POST time"
        status:
          type: string
          enum:
            - New
            - Processing
            - QA
            - Published
            - Error
            - Hold
            - Invalid
          description: "One of: New|Processing|QA|Published|Error|Hold|Invalid"
        title:
          type: string
          description: "The Publication title."
        data_types:
          type: array
          items:
            type: string
            enum:
              - AF
              - ATACseq-bulk
              - bulk_atacseq
              - cell-dive
              - CODEX
              - codex_cytokit
              - DART-FISH
              - image_pyramid
              - IMC
              - 3D-IMC
              - lc-ms_label-free
              - lc-ms_labeled
              - lc-ms-ms_label-free
              - lc-ms-ms_labeled
              - LC-MS-untargeted
              - Lightsheet
              - MALDI-IMS-neg
              - MALDI-IMS-pos
              - MxIF
              - PAS
              - bulk-RNA
              - salmon_rnaseq_bulk
              - SNAREseq
              - sc_atac_seq_snare_lab
              - sc_atac_seq_snare
              - scRNA-Seq-10x
              - salmon_rnaseq_10x
              - sc_rna_seq_snare_lab
              - salmon_rnaseq_snareseq
              - sciATACseq
              - sc_atac_seq_sci
              - sciRNAseq
              - salmon_rnaseq_sciseq
              - seqFish
              - seqFish_lab_processed
              - snATACseq
              - sn_atac_seq
              - snRNAseq
              - salmon_sn_rnaseq_10x
              - Slide-seq
              - Targeted-Shotgun-LC-MS
              - TMT-LC-MS
              - WGS
          description: "The data or assay types contained in this dataset as a json array of strings.  Each is an assay code from [assay types](https://github.com/hubmapconsortium/search-api/blob/main/src/search-schema/data/definitions/enums/assay_types.yaml)."
        collections:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Collection'
          description: "A list of collections that this dataset belongs to."
        upload:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Upload'
          description: "The Data Upload that this dataset is associated with."
        contributors:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Person'
          description: "A list of people who contributed to the creation of this dataset.  Returned as an array of contributor where the structure of a contributor is"
        direct_ancestors:
          readOnly: true
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/Sample'
              - $ref: '#/components/schemas/Dataset'
          description: "A list of direct parent ancensters (one level above) that the Dataset was derived from."
        published_timestamp:
          readOnly: true
          type: integer
          description: "The timestamp of when the dataset was published.  The format is an integer representing milliseconds since midnight, Jan 1, 1970."
        published_user_displayname:
          readOnly: true
          type: string
          description: "The name of the authenticated user or process that published the data."
        published_user_sub:
          readOnly: true
          type: string
          description: "The subject id for the user who published the data as provided by the authorization mechanism for the person or process authenticated when the dataset was published."
        published_user_email:
          readOnly: true
          type: string
          description: "The email address of the user who published the provided by the authorization mechanism for the person or process authenticated when published."
        ingest_metadata:
          type: object
          description: "Information associated with running the ingest and processing pipelines."
        metadata:
          type: object
          description: "Metadata associated with the ingested experimental data."
        files:
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: "A list of files associated with the dataset."
        calculated_metadata:
          type: object
          description: "Calculated metadata outputted from the processing pipeline."
        local_directory_rel_path:
          type: string
          readOnly: true
          description: "The path on the local HIVE file system, relative to the base data directory, where the data is stored."
        group_uuid:
          type: string
          description: "The uuid of globus group which the user who created this entity is a member of.  This is required on Create/POST if the user creating the Donor is a member of more than one write group.  This property cannot be set via PUT (only on Create/POST)."
        group_name:
          type: string
          readOnly: true
          description: "The displayname of globus group which the user who created this entity is a member of"
        previous_revision_uuid:
          type: string
          description: "The uuid of previous revision dataset. Can only be set at Create/POST time."
        next_revision_uuid:
          type: string
          readOnly: true
          description: "The uuid of next revision dataset"
        thumbnail_file:
          readOnly: true
          description: 'The dataset thumbnail file detail. Stored in db as a stringfied json, e.g., {"filename": "thumbnail.jpg", "file_uuid": "c35002f9c3d49f8b77e1e2cd4a01803d"}'
        thumbnail_file_to_add:
          writeOnly: true
          type: string
          format: temp_file_id
          description: 'Just a temporary file id. Provide as a json object with an temp_file_id like {"temp_file_id":"dzevgd6xjs4d5grmcp4n"}'
        thumbnail_file_to_remove:
          writeOnly: true
          type: string
          format: file_uuid
          description: 'The thumbnail image file previously uploaded to delete. Provide as a string of the file_uuid like: "c35002f9c3d49f8b77e1e2cd4a01803d"'
        sub_status:
          type: string
          description: 'A sub-status provided to further define the status. The only current allowable value is "Retracted"'
        retraction_reason:
          type: string
          description: 'Information recorded about why a the dataset was retracted.'
        dbgap_sra_experiment_url:
          type: string
          description: 'A URL linking the dataset to the associated uploaded data at dbGaP.'
        dbgap_study_url:
          type: string
          description: 'A URL linking the dataset to the particular study on dbGap it belongs to'
        publication_date:
          type: string
          description: 'The date of publication'
        publication_doi:
          type: string
          description: 'The doi of the publication. (##.####/[alpha-numeric-string])'
        publication_url:
          type: string
          description: 'he URL at the publishers server for print/pre-print (http(s)://[alpha-numeric-string].[alpha-numeric-string].[...])'
        publication_venue:
          type: string
          description: 'The venue of the publication, journal, conference, preprint server, etc...'
        volume:
          type: integer
          description: 'The volume number of a journal that it was published in.'
        issue:
          type: integer
          description: 'The issue number of the journal that it was published in.'
        pages_or_article_num:
          type: string
          description: 'The pages or the article number in the publication journal e.g., “23”, “23-49”, “e1003424”.'
        omap_doi:
          type: string
          description: 'A DOI pointing to an Organ Mapping Antibody Panel relevant to this publication'
        associated_collection_uuid:
          type: string
          writeOnly: true
          description: "The uuid of the associated collection for a given publication."
        associated_collection:
          type: object
          description: 'The associated collection for a given publication'
    Instanceof:
      type: object
      description: "Returned by entities/&lt;id&gt;/instanceof/&lt;type&gt;"
      properties:
        instanceof:
          type: boolean
          description: "True of False depending on whether the Entity id is an instance of the type"

paths:
  '/entities/{id}':
    get:
      summary: Retrieve a provenance entity by id.  Entity types of Donor, Sample and Datasets.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID (32 digit hexadecimal number)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The json of the **[Donor](http://somewhere.org)**, **[Sample](http://somewhere.org)** or **[Dataset](http://somewhere.org)**
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Donor'
                  - $ref: '#/components/schemas/Sample'
                  - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier was provided.
        '401':
          description: The user's bearer token has expired or the user did not supply a valid token.
        '403':
          description: The user is not authorized to retrieve the referenced entity.
        '404':
          description: The target entity could not be found.
        '500':
          description: An unexpected error occurred.
    put:
      summary: 'Update the properties of a given Donor, Sample, Dataset or Upload'
      parameters:
        - name: id
          in: path
          description: The HuBMAP ID (e.g. HBM123.ABCD.456) or UUID of target entity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Donor'
                - $ref: '#/components/schemas/Sample'
                - $ref: '#/components/schemas/Dataset'
      responses:
        '200':
          description: The entity was successfully updated and is returned
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Donor'
                  - $ref: '#/components/schemas/Sample'
                  - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entity-types':
    get:
      summary: Get a list of all the available entity types defined in the schema yaml
      responses:
        '200':
          description: An array of entity types is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: THe user is not authorized to use this method
        '500':
          description: Internal error
  '/ancestors/{id}':
    get:
      summary: Get the ancestor list for an Entity.  The ancestors are the nodes connected "upstream" from the current node.  This list traverses all the levels in the graph.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of ancestors is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Donor'
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'

        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/descendants/{id}':
    get:
      summary: Get the descendant list for an Entity.  The descendants are the nodes "downstream" from the current node.  This list traverses all the levels in the graph. Returns all descendants as an array of Entities.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of descendants is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/parents/{id}':
    get:
      summary: Get the immediate parent list for an Entity.  The parents are the nodes connected one level "upstream" from the current node.  This list only goes to the next higher level in the graph.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of parent entities is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Donor'
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/children/{id}':
    get:
      summary: Get the list of children directly connected to an Entity.  The children are the nodes one level below the current node.  This list only returns the items one level below in the graph.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of children entities is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{id}/siblings':
    get:
      summary: Get the siblings list for an Entity.  The siblings have the same direct ancestor.  This list does not include all nodes whom have common ancestors, only the direct ancestor.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
        - name: include-old-revisions
          in: query
          description: A case insensitive string. Any value besides true will have no effect. If the string is 'true', datasets that are have newer revisions will be included, otherwise by default they are not included.
          required: false
          schema:
            type: string
            enum: [ 'true', 'false' ]
        - name: status
          in: query
          description: A case insensitive string. Any value besides 'new', 'qa', and 'published' will raise an error. If a valid status is provided, only results matching that status (if they are datasets) will be returned
          required: false
          schema:
            type: string
            enum: [ 'new', 'qa', 'published' ]
        - name: property_key
          in: query
          description: A case insensitive string. Any value besides 'uuid' will raise an error. If property_key=uuid is provided, rather than entire dictionary representations of each node, only the list of matching uuid's will be returned
          required: false
          schema:
            type: string
            enum: [ 'uuid' ]
      responses:
        '200':
          description: An array of sibling entities is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{id}/tuplets':
    get:
      summary: Get the tuplets list for an Entity.  The tuplets have the same parent activity node.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: A case insensitive string. Any value besides 'new', 'qa', and 'published' will raise an error. If a valid status is provided, only results matching that status (if they are datasets) will be returned
          required: false
          schema:
            type: string
            enum: [ 'new', 'qa', 'published' ]
        - name: property_key
          in: query
          description: A case insensitive string. Any value besides 'uuid' will raise an error. If property_key=uuid is provided, rather than entire dictionary representations of each node, only the list of matching uuid's will be returned
          required: false
          schema:
            type: string
            enum: [ 'uuid' ]
      responses:
        '200':
          description: An array of tuplet entities is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{id}/collections':
    get:
      summary: Get the list of all collections the Entity belongs to.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
        - name: property
          in: query
          description: A case insensitive string. Any value besides 'uuid' will raise an error. If property=uuid is provided, rather than entire dictionary representations of each node, only the list of matching uuid's will be returned
          required: false
          schema:
            type: string
            enum: [ 'uuid' ]
      responses:
        '200':
          description: An array of collection entities is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Collection'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{id}/uploads':
    get:
      summary: Get the list of all uploads the Entity belongs to.
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
        - name: property
          in: query
          description: A case insensitive string. Any value besides 'uuid' will raise an error. If property=uuid is provided, rather than entire dictionary representations of each node, only the list of matching uuid's will be returned
          required: false
          schema:
            type: string
            enum: [ 'uuid' ]
      responses:
        '200':
          description: An array of upload entities is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Upload'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to access the entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{id}/provenance':
    get:
      summary: 'Get Provenance Data for Entity.  This returns a PROV JSON compliant representation of the entity''s provenance. Refer to this document for more information regarding [PROV JSON format](https://www.w3.org/Submission/2013/SUBM-prov-json-20130424/)'
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json: {}
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the provenance of the given entity.
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{id}/instanceof/{type}':
    get:
      summary: Determines if the Entity with id is an instance of type
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity. This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
        - name: type
          in: path
          description: The Entity Type Class as defined in entity-api-spec.yaml (e.g. Published)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An object with the attribute 'instanceof' that has a value of either 'true' of 'false'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instanceof'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to retrieve the entity
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/type/{type_a}/instanceof/{type_b}':
    get:
      summary: Determines if the Entity type type_a is an instance of type_b
      parameters:
        - name: type_a
          in: path
          description: The unique identifier of entity (e.g. Published)
          required: true
          schema:
            type: string
        - name: type_b
          in: path
          description: The Entity Type Class as defined in entity-api-spec.yaml (e.g. Dataset)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An object with the attribute 'instanceof' that has a value of either 'true' of 'false'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instanceof'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to retrieve the entity
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/{id}/ancestor-organs':
    get:
      summary: Retrievea list of ancestor organ(s) of a given uuid
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of Samples (sub-type organ) are returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sample'
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to retrieve the entity
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/entities/new/{entity_type}':
    post:
      summary: Create a new entity of the target type
      parameters:
        - name: entity_type
          in: path
          description: 'One of the target entity types (case-insensitive since will be normalized): Donor, Sample, Dataset, Upload'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Donor'
                - $ref: '#/components/schemas/Sample'
                - $ref: '#/components/schemas/Dataset'
                - $ref: '#/components/schemas/Upload'
      responses:
        '200':
          description: The entity was successfully created and is returned
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/Donor'
                    - $ref: '#/components/schemas/Sample'
                    - $ref: '#/components/schemas/Dataset'
                    - $ref: '#/components/schemas/Upload'
        '400':
          description: Invalid entity type provided
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to create the entity
        '500':
          description: Internal error
  '/entities/multiple-samples/{count}':
    post:
      summary: "Create multiple samples from the same source entity. 'count' samples will be generated each with individual uuids, hubmap_ids and submission_ids."
      parameters:
        - name: count
          in: path
          description: The number of samples to be created
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The samples were successfully created.  An array of objects each containing a uuid, hubmap_id and submission_id associated with each newly created sample.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    hubmap_id:
                      type: string
                    submission_id:
                      type: string
                    uuid:
                      type: string
        '400':
          description: Invalid json input
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '500':
          description: Internal error
  '/doi/redirect/{id}':
    get:
      summary: Redirect a request from a doi service
      parameters:
        - name: id
          in: path
          description: The HuBMAP ID (e.g. HBM123.ABCD.456) or UUID of the target collection
          required: true
          schema:
            type: string
      responses:
        '307':
          description: Redirect to the entities landing page
        '400':
          description: Invalid or misformatted collection identifier
        '500':
          description: Internal error
  '/entities/{id}/globus-url':
    get:
      summary: Get the Globus URL to the given Dataset or Upload entity
      parameters:
        - name: id
          in: path
          description: The HuBMA`P ID (e.g. HBM123.ABCD.456) or UUID of the given ntity
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the Globus service URL pointing to the Dataset or Upload data is returned
          content:
            text/plain:
              schema:
                type: string
                format: url
        '400':
          description: Invalid or misformatted entity identifier
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not autorizized to access the data
        '404':
          description: The target entity could not be found
        '500':
          description: Internal error
  '/datasets/{id}/prov-metadata':
    get:
      summary: 'Returns full provenance metadata for a Dataset, which can be used when publishing the Dataset.'
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID (32 digit hexadecimal number)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Full provenance information for the given dataset as JSON in the Response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetProvMetadata'
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: THe user is not authorized to use this method
        '500':
          description:
            Internal error
  '/datasets/{id}/latest-revision':
    get:
      summary: 'Retrive the latest (newest) revision of a given Dataset. Public/Consortium access rules apply - if no token/consortium access then must be for a public dataset and the returned Dataset must be the latest public version. If the given dataset itself is the latest revision, meaning it has no next revisions, this dataset gets returned.'
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier, or the given entity is not a Dataset
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the latest revision of the given dataset.
        '404':
          description: The target dataset could not be found
        '500':
          description: Internal error
  '/datasets/{id}/revision':
    get:
      summary: 'Retrive the calculated revision number of a Dataset. The calculated revision is number is based on the [:REVISION_OF] relationships to the oldest dataset in a revision chain. Where the oldest dataset = 1 and each newer version is incremented by one (1, 2, 3 ...). Public/Consortium access rules apply, if is for a non-public dataset and no token or a token without membership in HuBMAP-Read group is sent with the request then a 403 response should be returned.'
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The revision number (integer) on successful operation
        '400':
          description: Invalid or misformatted entity identifier, or the given entity is not a Dataset
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the revision number of the given dataset.
        '404':
          description: The target dataset could not be found
        '500':
          description: Internal error
  '/datasets/{id}/multi-revisions':
    get:
      summary: 'Retrieve a list of all multi revisions of a dataset from the id of any dataset in the chain. E.g: If there are 5 revisions, and the id for revision 4 is given, a list of revisions 1-5 will be returned in reverse order (newest first). Non-public access is only required to retrieve information on non-published datasets. Output will be a list of dictionaries. Each dictionary contains the dataset revision number and its list of uuids. Optionally, the full dataset can be included for each.'
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
        - name: include_dataset
          in: query
          description: A case insensitive string. Any value besides true will have no effect. If the string is 'true', the full dataset for each revision will be included in the response
          required: false
          schema:
            type: string
            enum: ['true', 'false']
      responses:
        '200':
          description: The list of revised datasets that the referenced dataset is a member of including the index number of the revision, where 1 is the oldest version of any revision chain
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: The uuid of a dataset
                  revision_number:
                    type: integer
                    description: The number in the revision chain of this dataset where 1 is the oldest revision
                  dataset:
                    $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier, or the given entity is not a Dataset
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the revision number of the given dataset.
        '404':
          description: The target dataset could not be found
        '500':
          description: Internal error
  '/datasets/{id}/revisions':
    get:
      summary: 'From a given ID of a versioned dataset, retrieve a list of every dataset in the chain ordered from most recent to oldest. The revision number, as well as the dataset uuid will be included. An optional parameter ?include_dataset=true will include the full dataset for each revision as well. Public/Consortium access rules apply, if is for a non-public dataset and no token or a token without membership in HuBMAP-Read group is sent with the request then a 403 response should be returned. If the given id is published, but later revisions are not and the user is not in HuBMAP-Read group, only published revisions will be returned. The field next_revision_uuid will not be returned if the next revision is unpublished'
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
        - name: include_dataset
          in: query
          description: A case insensitive string. Any value besides true will have no effect. If the string is 'true', the full dataset for each revision will be included in the response
          required: false
          schema:
            type: string
            enum: [ 'true', 'false' ]
      responses:
        '200':
          description: The list of revised datasets that the referenced dataset is a member of including the index number of the revision, where 1 is the oldest version of any revision chain
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: The uuid of a dataset
                  revision_number:
                    type: integer
                    description: The number in the revision chain of this dataset where 1 is the oldest revision
                  dataset:
                    $ref: '#/components/schemas/Dataset'
        '400':
          description: Invalid or misformatted entity identifier, or the given entity is not a Dataset
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the revision number of the given dataset.
        '404':
          description: The target dataset could not be found
        '500':
          description: Internal error
  '/datasets/{id}/organs':
    get:
      summary: Retrieve a list of all of the smples that are organs that are associated with the dataset id
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of entity_type == Sample with sample_category == organ associated with the dataset id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sample'
        '400':
          description: Invalid or misformatted entity identifier, or the given entity is not a Dataset
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the revision number of the given dataset.
        '404':
          description: The target dataset could not be found
        '500':
          description: Internal error
  '/datasets/{id}/samples':
    get:
      summary: Retrieve a list of all of the samples that are not organs that are associated with the dataset id
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of entity_type == Sample with sample_category != organ associated with the dataset id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sample'
        '400':
          description: Invalid or misformatted entity identifier, or the given entity is not a Dataset
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the revision number of the given dataset.
        '404':
          description: The target dataset could not be found
        '500':
          description: Internal error
  '/datasets/{id}/donors':
    get:
      summary: Retrieve a list of all of the donors that are associated with the dataset id
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity.  This identifier can be either an HuBMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of entity_type == Donor that are associated with the dataset id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Donor'
        '400':
          description: Invalid or misformatted entity identifier, or the given entity is not a Dataset
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the revision number of the given dataset.
        '404':
          description: The target dataset could not be found
        '500':
          description: Internal error
  '/datasets/{id}/retract':
    put:
      summary: 'Retracts a dataset after it has been published. Requires a json body with a single field {retraction_reason: string}. The dataset for the given id is modified to include this new retraction_reason field and sets the dataset property sub_status to Retracted. The complete modified dataset is returned. Requires that the dataset being retracted has already been published (dataset.status == Published. Requires a user token with membership in the HuBMAP-Data-Admin group otherwise then a 403 will be returned.'
      parameters:
        - name: id
          in: path
          description: The unique identifier of entity. This identifier can be either a HubMAP ID (e.g. HBM123.ABCD.456) or UUID
          required: true
          schema:
            type: string
      requestBody:
        description: A json body with a single, required retraction_reason parameter contianing the reason why the dataset is being retracted.
        content:
          application/json:
            schema:
              type: object
              properties:
                retraction_reason:
                  type: string
                  description: Free text describing why the dataset was retracted 
      responses:
        '200':
          description: The complete dataset with modified sub_status and retraction_reason
        '400':
          description: Invalid or misformatted entity identifier, the given entity is not a Dataset, is not published or the required retraction_reason was not included in a json body
        '401':
          description: The user's token has expired or the user did not supply a valid token
        '403':
          description: The user is not authorized to query the retract the given dataset.  The user must be a member of the HuBMAP-Data-Admin group
        '404':
          description: The target dataset could not be found
        '500':
          description: Internal error
  '/datasets/prov-info':
    get:
      summary: 'returns ALL provenance information for ALL datasets in a default table/tsv format or optionally a json format when an optional ?format=json parameter is provided'
      parameters:
        - name: format
          in: query
          description: "A case insensitive string. Any value besides 'json' will have no effect. If the string is 'json', provenance info will be returned as a json. Otherwise, it will be returned as a tsv file"
          required: false
          schema:
            type: string
            enum: [ 'json', 'tsv' ]
        - name: group_uuid
          in: query
          description: The uuid of the group
          required: false
          schema:
            type: string
        - name: has_rui_info
          in: query
          description: A case insensitive string. Any value besides true or false will cause a 400 exception.
          required: false
          schema:
            type: string
            enum: [ 'true', 'false' ]
        - name: organ
          in: query
          description: Case insensitive string for 2 character organ code. Values must be present on organ yaml or a 400 exception is raised
          required: false
          schema:
            type: string
        - name: dataset_status
          in: query
          description: Case insensitive string indicating the current status of a dataset
          required: false
          schema:
            type: string
            enum: [ 'qa', 'new', 'published', ]
      responses:
        '200':
          description: all provenance information for every dataset in the database either as a json list or as a tsv file to be downloaded
          content:
            text/tsv:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  dataset_uuid:
                    type: string
                    description: The uuid of the dataset
                  dataset_hubmap_id:
                    type: string
                    description: The HuBMAP ID of the dataset like HBM123.ABCD.456
                  dataset_status:
[...]
