pre,code{
	color:#222;
	background-color:rgb(252, 252, 252);
	font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size:14px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px
}
pre{
	padding:10px;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	overflow:auto
}
code{
	padding:3px;
	margin:0 3px;
	box-shadow:0 0 10px rgba(0,0,0,0.1)
}
pre code{
	display:block;
	box-shadow:none
}

.codebox {
        /* Below are styles for the codebox (not the code itself) */
        border:1px solid black;
        background-color:#EEEEFF;
        width:100%;
        overflow:auto;    
       /* padding-left:12px;
        padding-right:12px;
	padding-top:10px;
	padding-bottom:10px; */

        padding: 10px;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%), linear-gradient(to bottom, rgb(186, 189, 193) 0%, rgb(186, 189, 193) 100%);
        background-clip: content-box, padding-box;	
    }

    .codebox br {
	    display: block;
	    margin: 0px 0;
	    line-height: 0px;
    }

    .innercodebox {
	    padding-left: 5px;
	    padding-right: 5px;
    }
    
