Flask==2.1.3
neo4j==4.4
prov==2.0.0

# For schema templating
nested-lookup==0.2.22

# The commons package requires requests>=2.22.0 and PyYAML>=5.3.1
requests==2.25.1
PyYAML==5.4.1

# Use the published package from PyPI as default
# Use the branch name of commons from github for testing new changes made in commons from different branch
# Default is main branch specified in docker-compose.development.yml if not set
git+https://github.com/hubmapconsortium/commons.git@${COMMONS_BRANCH}#egg=hubmap-commons
#hubmap-commons==2.0.15

# For unit test
nose2==0.10.0
